.project-section {
  width: 95%;
  margin: auto;
}

.task-description > li {
  text-align: left;
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
}

.source-code-button,
.view-site {
  margin-top: 3%;
  margin-bottom: 3%;
}

.view-site {
  margin-left: 2%;
}

.demo-images {
  width: 95%;
  margin: auto;
  margin-bottom: 1%;
}

.jobwebscrapper-architecture {
  width: 55%;
  margin: auto;
  margin-bottom: 1%;
}

/* li:nth-child(even) {
  color: rgb(109, 105, 105);
} */

.tech-stack-line {
  color: rgb(17, 17, 145);
}
