.project-section {
  width: 95%;
  margin: auto;
}

.task-description > li {
  text-align: left;
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1.4em;
  padding-left: 1em;
}

.source-code-button,
.view-site {
  margin-top: 3%;
  margin-bottom: 4%;
}

.view-site {
  margin-left: 2%;
}

.demo-images {
  width: 85%;
  margin: auto;
  margin-bottom: 1%;
}

.jobwebscrapper-architecture {
  width: 50%;
  margin: auto;
  margin-bottom: 1%;
}

/* li:nth-child(even) {
  color: rgb(109, 105, 105);
} */

.tech-stack-line span {
  color: rgb(17, 17, 145);
  background: rgb(255, 236, 197);
}

.blackjack {
  width: 55%;
}

.portfolio-architecture {
  width: 70%;
  margin: auto;
  margin-bottom: 3%;
}

#job-link {
  color: black;
  text-decoration: underline;
}
