.project-section {
  width: 95%;
  margin: auto;
}

.task-description > li {
  text-align: left;
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1.4em;
  padding-left: 1em;
}

.source-code-button,
.view-site {
  margin-top: 5%;
  margin-bottom: 5%;
}

.view-site {
  margin-left: 2%;
}

.demo-images {
  width: 85%;
  margin: auto;
  margin-bottom: 1%;
}

.jobwebscrapper-architecture {
  width: 40%;
  margin: auto;
  margin-bottom: 1%;
}

@media (max-width: 1000px) {
  .jobwebscrapper-architecture {
    width: 50%; 
  }
}
@media (max-width: 700px) {
  .jobwebscrapper-architecture {
    width: 80%; 
  }
}

/* li:nth-child(even) {
  color: rgb(109, 105, 105);
} */

.tech-stack-line span {
  color: rgb(24, 129, 194);
  font-weight: 300;
  /* background: rgb(255, 236, 197); */
}

.blackjack {
  width: 55%;
}

.portfolio-architecture {
  width: 70%;
  margin: auto;
  margin-bottom: 3%;
}

.storefront-email {
  width: 70%;
  margin: auto;
  margin-bottom: 3%;
  border: 1px dashed #1975f4d2;
}

#job-link {
  color: black;
  text-decoration: underline;
}

.project-badge {
  font-size: 1.1em;
}

.large-images {
  width: 100%;
}

.text-based-adventure {
  width: 70%;
}

.container {
  max-width: 1150px; 
}

.project-title {
  font-size: large;
  font-weight: 800;;
  color: #17a2b8 !important;
}

.job-table {
  width: 95%;
}

.gateway-demo {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
}

.gateway-demo iframe {
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 100%;
}

.otp {
  width: 75%;
}